
body {
  font-size: 16px;
  color: #8486a6;
  font-family: "Lato", sans-serif;
  vertical-align: baseline;
  line-height: 26px;
  font-weight: 400;
  overflow-x:hidden;
  background:#10122d;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.section {
  padding: 100px 0;
}
.section-heading2 {
  display: block;
  margin: 0 0 60px;
  text-align: center;
}

.section-heading2 h2 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
}

.tokens-area {
  background:#1f58b1;
  position: relative;
}
.tokens-area .tokens {
  display: inline-block;
  position: relative;
  text-align: center;
}
.tokens-area .tokens .token-name {
  display: inline-block;
  color: #fff;
  background: rgba(57,100,208,1);
background: -moz-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(57,100,208,1)), color-stop(100%, rgba(45,193,201,1)));
background: -webkit-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: -o-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: -ms-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: linear-gradient(to right, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
  line-height: 42px;
  height: 42px;
  padding: 0 45px;
  border-radius: 15px 15px 0 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900;
  position: relative;
  z-index: 999;
}
.tokens-area .tokens .token-body {
  background: #0d469f;
  height: 464px;
  padding: 50px 55px;
  display: inline-block;
  border-radius: 22px;
  position: relative;
  z-index: 999;
}
.tokens-area .tokens .token-body p {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}
.tokens-area .tokens .token-body .left-btn {
  display: inline-block;
  height: 60px;
  line-height: 54px;
  padding: 0 45px;
  border-radius: 50px;
  border: 3px solid rgba(255, 255, 255, 0.36);
  font-size: 20px;
  font-weight: 900;
  color: #ffffff;
  background: transparent;
}
.tokens-area .tokens .token-body .right-btn {
  display: inline-block;
  height: 60px;
  line-height: 54px;
  padding: 0 45px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  background: rgba(57,100,208,1);
background: -moz-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(57,100,208,1)), color-stop(100%, rgba(45,193,201,1)));
background: -webkit-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: -o-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: -ms-linear-gradient(left, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
background: linear-gradient(to right, rgba(57,100,208,1) 0%, rgba(45,193,201,1) 100%);
}

.tokens-area .tokens .token-body .prices table tr td {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.61);
  padding: 7px 15px;
}
.tokens-area .tokens .token-body .prices table tr td:last-child {
  text-align: center;
}
.tokens-area .token-con {
  color: #fff;
  margin: 50px 0 0;
  font-size: 20px;
}
.tokens-area .token-con span {
  color: #3297cc;
}

.easypiechart {
  position: relative;
  display: inline-block;
  margin-top: 55px;
      border: 1px solid rgba(255, 255, 255, 0.48);
        width: 150px;
    height: 150px;
    padding-top: 48px;
    border-radius: 100%;
}
.easypiechart .percent {
  text-align: center;
  font-size: 40px;
  font-weight: 900;
  color: #ffffff;
}
.easypiechart .percent:after {
  content: "%";
  font-size: 40px;
  font-weight: 900;
  margin-left: 1px;
}

/*....................................